## Cadenas (string)

Secuencia ordenada de símbolos. 
Se llama cadena haciendo la analogía con una cadena física creada por eslabones, donde cada eslabón dentro de la cadena se encuentra acomodado en una secuencia. En cada eslbón se guarda un caracter y se cuenta su posición desde el 0.

## Inmutabilidad de las cadenas

En Pyhton las cadenas no pueden cambiar.

Ejemplo:

In [523]:
fact = 'The Moon has no atmosphere.'
two_facts = fact + 'No sound can be heard on the Moon.'
print(two_facts)
print(fact)

The Moon has no atmosphere.No sound can be heard on the Moon.
The Moon has no atmosphere.

En el ejemplo anterior. La cadena "fact" sigue siendo la misma. Lo que ocurre es que imprime una cadena nueva que agrega el demas texto.

--- La operaciones en cadenas siempre producen nuevas cadens

## Uso de comillas
Puedes incluir cadenas de Python entre comillas simples, dobles o triples (se sugiere usar dobles). Cuando una cadena contiene palabras, números o caracteres especiales (una subcadena) debes usar otro estilo de comillas.

Ejemplo:

In [524]:
moon_radius = "The moon has a radius of 1,080miles"
# Cadena sin subcadenas

print(moon_radius)

The moon has a radius of 1,080miles

In [525]:

print('The "near side" is the part of the Moon that faces the Earth')
#cadena con subcadena

The "near side" is the part of the Moon that faces the Earth

Cuando el texto tiene una combinación de comillas simples y dobles, se recomienda usar triples para evitar problemas:

In [526]:
print("""We only see about 60% of the Moon's surface, this is known as the "near side".""")

We only see about 60% of the Moon's surface, this is known as the "near side".

## Texto multilínea

Para definir varias líneas de texto como una sola variable.
-  Utiliza un carácter de nueva línea ().\n
- Utiliza comillas triples (""")..
- Los caracteres de nueva línea separan el texto en varias líneas al imprimir la salida:

Ejemplo:

In [527]:
multiline = "Facts about the Moon: \n There is no atmosphere. \n There is no so sound"
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no so sound

Mismo código, ahora con comillas triples:

In [528]:
multiline = """Facts about the Moon:
    There is no atmosphere.
    There is no sound."""
print(multiline)

Facts about the Moon:
    There is no atmosphere.
    There is no sound.

## Métodos string en Python

Las cadenas son un tipo de método. Pyhton incluye varios métodos de cadena que están diseñados para realizarlas transformaciones mas comunes y útiles.
** Los métodos de cadena forman parte del tipo str

Los métodos existen como variables de cadena o parte de la cadena directamente

Ejemplo:

In [529]:
"temperatures and facts about the moon".title()

'Temperatures And Facts About The Moon'

In [530]:
heading = "temperatures and facts about the moon"
heading.title()

'Temperatures And Facts About The Moon'

## Dividir una cadena

Se usa el metodo .split() para dividir una cadena en cada espacio.

Ejemplo:

In [531]:
temperatures=  """Daylight: 260 F
    Nighttime: -280 F"""
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [532]:
temperatures=  """Daylight: 260 F
    Nighttime: -280 F"""
temperatures .split('\n')

['Daylight: 260 F', '    Nighttime: -280 F']

## Buscar una cadena
La forma más sencilla de descubrir si existe una palabra, un carácter o un grupo de caracteres determinados en una cadena es sin usar un método:

In [533]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [534]:
'Moon' in 'This text will describe facts about the Moon'

True

## .find()

Un enfoque para encontrar la posición de una palabra específica en una cadena es usar el método .find():

In [535]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Moon')

-1

El método .find() devuelve -1 un cuando no se encuentra la palabra o devuelve el índice (el número que representa el lugar en la cadena).

 Así es como se comportaría si estuvieras buscando la palabra Marte:

In [536]:
temperatures.find('Mars')

64

## .count()

Otra forma de buscar contenido es usar el método .count(), que devuelve el número total de apariciones de una determinada palabra en una cadena:

In [537]:
temperatures.count('Mars')

1

## .lower()

Para realizar una comparación sin distinción de mayúsculas y minúsculas, ya que Python distingue entre mayúsculas y mínusculas (Moon y moon son palabras diferentes).

In [538]:
"The Moon And The Earth".lower()

'the moon and the earth'

## .upper()

Método que hace lo contrario a .lower().
Convierte en MAYÚSCULAS

In [539]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

## Ejemplo:

Queremos extraer la termperatura de la siguiente cadena:

In [540]:
temperatures = 'Mars Average Temperature: -60 C' #texto regular
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

Indicamos que extraiga lo que esta después de los dos puntos (:) Por lo que ahora tenemos dos elementos en la cadena.

In [541]:
parts[-1]

' -60 C'

Usando [-1] en la lista, devuelve el último elemento.

Si el texto es irregular, no puedes usar los mismos métodos de división para obtener el valor. Debes iterar por todos los elementos y comprobar si los valores son de un tipo determinado. Python tiene métodos que ayudan a comprobar el tipo de cadena:

In [542]:
mars_temperature = 'The highest temperature on Mars is about 30 C' #texto irregular
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

- Al igual que el método .isnumeric(), puedes comprobar si hay cadenas que se parezcan a decimales .isdecimal()

- Para los números negativos, el guión está prefijado al número, y eso se puede detectar con el método: .startswith().

In [543]:
'-60'.startswith('-')

True

 el método .endswith() ayuda a verificar el último carácter de una cadena:

In [544]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

## Transformar texto

Puedes utilizar el método .replace() para buscar y reemplazar apariciones de un carácter o grupo de caracteres:

In [545]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

## .join()

Une carcateres. Requiere un iterable (como una lista de Pyhton) como argumento.

In [546]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

El carácter salto de línea '\n' se utiliza para unir todos los elementos de la lista.

## Formato con signo de porcentaje (%)

El marcador de posición es %s, y la variable se pasa al texto después del carácter % fuera de la cadena.

In [547]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

El uso de múltiples valores cambia la sintaxis, ya que requiere paréntesis para rodear las variables que se pasan:

In [548]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

## no se recomienda usar lo anterior: %s %

Se recomeinda usar el método format() que utiliza las llaves {} dentro de la cadena y la asignacion de .format() para indicar lo que se colocara en las llaves

In [549]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

No es necesario asignar variables repetidas varias veces, lo que lo hace menos detallado porque se deben asignar menos variables:

In [550]:
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

Se pueden usar palabras clave dentro de .format(). Ejemplo:

In [551]:
print("""You are lighter on the {moon}, because on the {moon} 
... you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

Se puede simplificar la sintaxis del formato .format() usando cadenas con f:

In [552]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

Las llaves aceptan operaciones, funciones, etc. Lo que sea que vas a imprimir ahi.

 la cadena podría imponer un estilo de escritura específico para crear un título:

In [553]:
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'